/* 개별 콘텐츠 섹션 */
section {
    height: 100vh; /* 화면 전체 높이 */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd; /* 섹션 구분선 */
  }
  
  /* 섹션 제목 */
  section h1 {
    font-size: 36px;
    color: #333; /* 섹션 제목 색상 */
  }
  